# Database TiDB Configuration
DB_HOST=gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
DB_PORT=4000
DB_NAME=Tracking
DB_USER=rYKFcN4zmjYBxLa.root
DB_PASS=h0UwkOyj9GVT7FpW

# Environment (development atau production)
ENVIRONMENT=production

# Debug mode (set false di production)
DEBUG=false
